* {
    font-family: Verdana, Arial, sans-serif;
}

.winner {
    width: 400;
    text-align: center;
    font-size:larger;
    font-variant: bold;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 50px;
    background-image:url(https://cdn-icons-png.flaticon.com/128/6706/6706908.png);
    background-size: cover; /* Sørger for at bildet dekker hele span */
    background-repeat: no-repeat; /* Hindrer at bildet gjentas */
    background-position: center;
}

#startbutton {
    border: 1px solid black;
    width: 100px;
    margin: 10px auto;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
}
#startbutton:hover {
    box-shadow: #4d4747 3px 3px;
}
#startbutton:active {
    background-color: #f1f1f1;
}

.cardboard {
    overflow: auto;
    padding: 30px;
    background-image: url(https://t4.ftcdn.net/jpg/02/28/68/07/360_F_228680721_gGbh5ylrMPMikdBIzWb8N1yGBLg8dmu9.jpg);
    background-size: cover; /* Sørger for at bildet dekker hele span */
    background-repeat: no-repeat; /* Hindrer at bildet gjentas */
    background-position: center;
    border: rgba(92, 50, 16, 0.652) 2px solid;
    box-shadow: #4d4747 5px 3px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.447);
    box-shadow: #4d4747 1px 1px;
    background-color: white;
    margin: 5px;
    transition: transform 1s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.outer {
    position: relative;
    flex-shrink: 0;
    width: 100px;
    height: 150px;
}

.card.back { 
    z-index: 2;
    backface-visibility: hidden;
    background-image: url(https://img.freepik.com/premium-photo/background-is-from-flowers_605423-24291.jpg);
    background-size: cover; /* Sørger for at bildet dekker hele span */
    background-repeat: no-repeat; /* Hindrer at bildet gjentas */
    background-position: center;
}

.card.front { /* bildesiden */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-beige-floral-line-background-picture-image_1285742.jpg);
    background-size: cover; /* Sørger for at bildet dekker hele span */
    background-repeat: no-repeat; /* Hindrer at bildet gjentas */
    background-position: center;
}

.card img {
    width: 90%;
}

.clearleft {
    clear: left;
}

/* gamestat */

#gamestat {
    margin: 20px;
    display: flex;
}

#gamestat div {
    width: 33%;
}

.score {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.2em;
}

#player2 {
    text-align: center;
}
#player1 {
    text-align: center;
}

#status {
    text-align: center;
}

.current-player {
    background-color: #ff663389;
    border-radius: 10px;
    box-shadow: #4d4747 3px 3px;
}
.flipped>.card {
    transform: scale(1.1) rotateY(180deg);
}
.removed {
    visibility: hidden;
}